openstack.rc

terraform/providers.tf
terraform/terraform.tfstate.backup
terraform/terraform.tfstate.d/test/*.backup
terraform/terraform.tfstate.d/covid/*.backup
terraform/sequence_search_rsa
terraform/sequence_search_rsa.pub
terraform/.terraform
terraform/current_state

terraform/load_balancer/providers.tf
terraform/load_balancer/terraform.tfstate.backup
terraform/load_balancer/load_balancer_rsa
terraform/load_balancer/load_balancer_rsa.pub
terraform/load_balancer/.terraform

gcp/providers.tf
gcp/terraform.tfstate.backup
gcp/gcp_rsa
gcp/gcp_rsa.pub
gcp/.terraform*
gcp/prj*

ukcloud/providers.tf
ukcloud/terraform.tfstate.backup
ukcloud/terraform.tfstate.d/test/*.backup
ukcloud/sequence_search_rsa
ukcloud/sequence_search_rsa.pub
ukcloud/.terraform
ukcloud/current_state

ukcloud/load_balancer/providers.tf
ukcloud/load_balancer/terraform.tfstate.backup
ukcloud/load_balancer/load_balancer_rsa
ukcloud/load_balancer/load_balancer_rsa.pub
ukcloud/load_balancer/.terraform

__pycache__/
.idea/
*.pyc
*.pyo
*.retry

ansible/hosts*
ansible/producer_latest.dump
node_modules/
ENV/
sequence_search/consumer/hmmer-3.2.1/
sequence_search/consumer/results
sequence_search/consumer/queries
sequence_search/consumer/databases
sequence_search/consumer/infernal-*
sequence_search/consumer/rfam
sequence_search/consumer/tests/output
sequence_search/consumer/cmsearch_tblout_deoverlap
sequence_search/monitor/.conf-file
sequence_search/monitor/test*
sequence_search/producer/static/rnacentral-sequence-search-embed
.env
