# file: producer/tasks/main.yml

---
  # This role is related to producer installation
  - name: Enable epel repository
    yum_repository:
      name: epel
      baseurl: https://download.fedoraproject.org/pub/epel/$releasever/$basearch/
      enabled: yes
      state: present
      description: epel repostiory
      gpgcheck: no
    tags: [ install-deps ]

  - name: Install yum dependencies
    yum:
      name:
      - bzip2-devel
      - curl
      - gcc
      - gcc-c++
      - git
      - libaio
      - libffi-devel
      - make
      - nodejs
      - openssl
      - openssl-devel
      - postgresql.x86_64
      - tar
      - unzip
      - wget
      - zlib-devel
    tags: [ install-deps ]

  - name: Install build tools
    yum:
      name: "@Development tools"
      state: present
    tags: [ install-deps ]

  - name: Install Python 3.7
    shell: |
      curl -OL https://www.python.org/ftp/python/3.7.7/Python-3.7.7.tgz
      tar -xzf Python-3.7.7.tgz
      cd Python-3.7.7
      ./configure --enable-optimizations
      make altinstall
    args:
      creates: /usr/local/bin/python3.7
    tags: [ install-deps ]


  - name: Rsync aiohttp code
    synchronize:
      src: ../../../../sequence_search
      dest: /srv
      rsync_opts:
        - "--exclude=/sequence_search/consumer/databases"
        - "--exclude=/sequence_search/consumer/queries/*.fasta"
        - "--exclude=/sequence_search/consumer/results/*.fasta"
        - "--exclude=/sequence_search/consumer/infernal-queries"
        - "--exclude=/sequence_search/consumer/infernal-results"
        - "--exclude=/sequence_search/consumer/cmsearch_tblout_deoverlap"
        - "--exclude=/sequence_search/consumer/rfam"
        - "--exclude=/sequence_search/producer/static/node_modules"
        - "--exclude=/sequence_search/producer/static/package-lock.json"
    tags: [ rsync, quick ]

  - name: Chown aiohttp code
    command: "chown -R centos:centos /srv/sequence_search"
    changed_when: false
    tags: [ quick ]

  - name: Chmod aiohttp code
    command: "chmod 755 /srv/sequence_search"
    tags: [ quick ]


  - name: Install pip3 requirements
    shell: /usr/local/bin/pip3.7 install -r requirements.txt
    args:
      chdir: /srv/sequence_search
    tags: [ pip-requirements ]


  - name: Delete logs directory
    file:
      path: /var/log/gunicorn
      state: absent
    ignore_errors: yes
    tags: [ logs ]

  - name: Create logs directory
    file:
      path: /var/log/gunicorn
      state: directory
      owner: centos
      group: centos
      mode: 0755
    tags: [ logs ]

  - name: Create access log
    file:
      path: /var/log/gunicorn/access_log
      state: touch
      owner: centos
      group: centos
      mode: 0755
    tags: [ logs ]


  - name: Create a symbolic link to sequence databases
    file:
      src: /nfs
      dest: /srv/sequence_search/consumer/databases
      state: link

  - name: Delete RNAcentral sequence search embed
    file:
      path: /srv/sequence_search/producer/static/rnacentral-sequence-search-embed
      state: absent
    ignore_errors: yes
    tags: [ frontend ]

  - name: Install RNAcentral sequence search embed
    shell:
      chdir: /srv/sequence_search/producer/static
      cmd: git clone https://github.com/RNAcentral/rnacentral-sequence-search-embed.git
    tags: [ frontend ]

  - name: Change the branch of the RNAcentral sequence search embed
    shell:
      chdir: /srv/sequence_search/producer/static/rnacentral-sequence-search-embed
      cmd: git checkout dev
    tags: [ frontend ]


  - name: Drop the database and re-create it
    shell:
      chdir: /srv
      cmd: ENVIRONMENT=PRODUCTION /usr/local/bin/python3.7 -m sequence_search.db
    tags: [ never, migrate ]


  - name: Get running processes
    shell: "ps -ef | grep -v grep | grep -w producer | awk '{print $2}'"
    #    shell: "sudo kill $(ps -ef | grep -v grep | grep -w producer | awk '{print $2}')"
    register: running_processes
    tags: [ restart, quick ]

  - name: Kill running processes
    shell: "kill {{ item }}"
    with_items: "{{ running_processes.stdout_lines }}"
    tags: [ restart, quick ]

  # copied over from: https://stackoverflow.com/questions/46515704/how-to-kill-a-running-process-using-ansible
  - wait_for:
      path: "/proc/{{ item }}/status"
      state: absent
    with_items: "{{ running_processes.stdout_lines }}"
    ignore_errors: yes
    register: killed_processes
    tags: [ restart, quick ]

  - name: Force kill stuck processes
    shell: "kill -9 {{ item }}"
    with_items: "{{ killed_processes.results | select('failed') | map(attribute='item') | list }}"
    tags: [ restart, quick ]

  - wait_for:
      path: "/proc/{{ item }}/status"
      state: absent
    with_items: "{{ running_processes.stdout_lines }}"
    ignore_errors: yes
    tags: [ restart, quick ]

  - name: Clean database
    shell:
      chdir: /srv
      cmd: ENVIRONMENT=PRODUCTION /usr/local/bin/python3.7 -m sequence_search.db
    tags: [ never, clean-db ]

  - name: Run producer service
    shell:
      chdir: /srv
#      cmd: /usr/local/bin/gunicorn producer.main:app --daemon --bind 0.0.0.0:8002 --worker-class aiohttp.worker.GunicornWebWorker --access-logfile /var/log/gunicorn/access_log --error-logfile /var/log/gunicorn/error_log --env ENVIRONMENT=PRODUCTION --log-level=DEBUG --timeout 120
      cmd: ENVIRONMENT=PRODUCTION nohup /usr/local/bin/python3.7 -m sequence_search.producer &> /var/log/gunicorn/access_log &
    tags: [ restart, quick ]
