# {{ ansible_managed }}

upstream backend {
    server {{ nginx_backend_ip }};
}

server {
    listen 80;

    location / {
        proxy_set_header    Host $host;
        proxy_set_header    X-Real-IP   $remote_addr;
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://{{ nginx_backend_ip }}:{{ nginx_backend_port }};
    }

    location /api/list-rnacentral-ids/ {
        proxy_pass http://{{ nginx_backend_ip }}:{{ nginx_backend_port }};
        error_page 404 = @fallback;
        proxy_intercept_errors on;
    }

    location @fallback {
        proxy_pass http://{{ nginx_fallback_backend_ip }}:{{ nginx_backend_port }};
    }

    error_page 404 /404.html;
        location = /40x.html {
    }

    error_page 500 502 503 504 /50x.html;
        location = /50x.html {
    }
}
