---
- hosts: postgres
  remote_user: centos
  become: true
  become_method: sudo
  vars:
    ansible_ssh_private_key_file: "../terraform/sequence_search_rsa"
    # ansible_ssh_private_key_file: "../gcp/gcp_rsa"

    # Basic settings
    postgresql_version: 9.6
    postgresql_encoding: "UTF-8"
    postgresql_locale: "en_US.UTF-8"
    postgresql_ctype: "en_US.UTF-8"

    postgresql_admin_user: "postgres"
    postgresql_default_auth_method: "trust"

    postgresql_service_enabled: true # should the service be enabled, default is true

    postgresql_cluster_name: "main"
    postgresql_cluster_reset: false

    # List of databases to be created (optional)
    # Note: for more flexibility with extensions use the postgresql_database_extensions setting.
    postgresql_databases:
      - name: producer
        owner: docker                # optional; specify the owner of the database
        hstore: yes                  # flag to install the hstore extension on this database (yes/no)
        uuid_ossp: yes               # flag to install the uuid-ossp extension on this database (yes/no)
        citext: yes                  # flag to install the citext extension on this database (yes/no)
        encoding: "UTF-8"            # override global {{ postgresql_encoding }} variable per database
        lc_collate: "en_GB.UTF-8"    # override global {{ postgresql_locale }} variable per database
        lc_ctype: "en_GB.UTF-8"      # override global {{ postgresql_ctype }} variable per database

    # List of database extensions to be created (optional)
    postgresql_database_extensions:
      - db: producer
        extensions:
          - hstore
          - citext

    # List of users to be created (optional)
    postgresql_users:
      - name: docker
        pass: pass
        encrypted: no               # denotes if the password is already encrypted.

    # List of schemas to be created (optional)
    postgresql_schemas:
      - database: producer          # database name
        schema: public              # schema name
        owner: docker
        state: present

    # List of user privileges to be applied (optional)
    postgresql_user_privileges:
      - name: docker                # user name
        db: producer                # database
        priv: "ALL"                 # privilege string format: example: INSERT,UPDATE/table:SELECT/anothertable:ALL
        role_attr_flags: "CREATEDB" # role attribute flags

    # List of hosts, from which postgres is available via password authentication
    postgresql_pg_hba_passwd_hosts:
      - '0.0.0.0/0'

    # Added by burkov - we need postgres server to listen to remote connections
    postgresql_listen_addresses:
      - '*'

    # Added by cribas - values obtained from PGTune (https://pgtune.leopard.in.ua/#/)
    # The most important item here is the maximum number of connections allowed.
    postgresql_max_connections: 300
    postgresql_shared_buffers: 1536MB
    postgresql_effective_cache_size: 4608MB
    postgresql_maintenance_work_mem: 384MB
    postgresql_checkpoint_completion_target: 0.9
    postgresql_wal_buffers: 16MB
    postgresql_random_page_cost: 4
    postgresql_effective_io_concurrency: 2
    postgresql_work_mem: 2621kB
    postgresql_max_wal_size: 4GB
    postgresql_min_wal_size: 1GB
    postgresql_max_worker_processes: 4
    postgresql_max_parallel_workers_per_gather: 2

  roles:
    - postgresql
    - ssh
    - iptables