# Configure the OpenStack Provider
provider "openstack" {
  user_name   = ""
  tenant_name = "EBI-RNAcentral"
  password    = ""
  auth_url    = "https://extcloud05.ebi.ac.uk:13000/v2.0"
  region      = "regionOne"
  version     = "~> 1.21.1"
}

provider "null" {
  version = "~> 2.1"
}
